set default="1"

function load_video {
  insmod efi_gop
  insmod efi_uga
  insmod video_bochs
  insmod video_cirrus
  insmod all_video
}

load_video
set gfxpayload=keep
insmod gzio
insmod part_gpt
insmod ext2

set timeout=60
### END /etc/grub.d/00_header ###

search --no-floppy --set=root -l 'CentOS-8-2-2004-x86_64-dvd'

### BEGIN /etc/grub.d/10_linux ###
menuentry 'Install CentOS Linux 8' --class fedora --class gnu-linux --class gnu --class os {
	linuxefi /images/pxeboot/vmlinuz inst.stage2=hd:LABEL=KS_RHEL inst.ks=hd:LABEL=KS_RHEL:/ks.cfg
	initrdefi /images/pxeboot/initrd.img
}